<div class="conainer mt-4">
  <div class="row">
    <div class="col col-2"></div>
    <div class="col col-8">
      <div class="card m-2">
        <div class="card-body p-0 mb-3 ms-3">
          <h5 class="card-title m-4 ms-3">Webapp de productos con Angular</h5>
          <h6 class="card-subtitle mb-2 text-muted m-4 ms-3">Gestiona tus productos con la aplicación web SPA creada con Angular</h6>
          <button type="button" class="btn btn-primary col-3 m-3">Ver Productos</button>
          <button type="button" class="btn btn-success col-3 m-3">Añadir productos</button>
        </div>
      </div>
    </div>
    <div class="col col-2"></div>
  </div>
</div>
