<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="color: white;">Productos Angular</span>
  </div>
</nav>
<nav id="navbar1" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white; font-weight: 500;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white; font-weight: 500;">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white; font-weight: 500;">Crear producto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
